{
  "parser" : "babel-eslint",
  "extends": "airbnb/base",
  "env" : {
    "browser" : true,
    "jquery" : true,
    "commonjs" : true
  },
  "rules" : {
    "indent" : [2, "tab"]
  }

}
